.about-hero {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  display: flex;
  margin-bottom: 2rem;
  .hero-wrap {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }
  h2 {
    color: #f2f4f3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 4rem;
  }
}
.about-copy {
}
.about-copy-wrap {
  margin-bottom: 2rem;
}
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.bmember {
  h3 {
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }
}
