.sm-icons {
  text-align: center;
}
.footer {
  padding: 1rem 0;
  background: #00245d;
  color: #fff;
  p {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 2rem;
  }
}
